.cart-container {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

img.cart {
    padding: 5px;
    width: 40px;
}

a.CartWidget {
    color: white;
    text-decoration-line: none;
    font-size: 18px;
}


a.CartWidget[disabled] {
  visibility: hidden; 
}