.Navbar{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-weight: 600;
    background: rgb(37,2,119);
    background: linear-gradient(60deg, rgba(37,2,119,1) 1%, rgba(196,90,255,1) 100%);
}

.logo-menu {
    padding: 5%;
    width: 200px;
}

ul.pestañas {
    display: flex;
    list-style: none;
}

.pestañas li {
    padding-right: 20%;
}

.pestañas li:hover {
    color: #61dafb;
    cursor: pointer;
}

.opcion a {
    color: white;
    font-weight: 600;
    text-decoration-line: none;
    font-size: 18px;
}

.opcion a:hover {
    color: white; 
    text-decoration-line: underline;
}

 